body {
    background-color: black;
    color: white;
}

h1 {
    margin-left: 5%;
}

.pai {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 1%;
}

a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: green;
}


footer img {
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

footer p {
    margin-top: 2px;
}