body{
color: white;
background-color: black;
}


.menu ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 1%;
}

.eu  {
    border-radius: 50%;
    border: 5px solid green;

}
 h1 {
    color: green;
 }

.center{
    text-align: center;
}

footer img {
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: green;
}

